html {
  font-size: 62.5%;
}

body {
  background: #beffe6;
  align-items: center;
  justify-content: center;
  font-family: courier;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6;
  padding: 1rem;
  margin: 0;
}

a {
  border-bottom: 2px solid #ff72a0;
  color: #000;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 1em 0;
}

h1 {
  line-height: 1.2;
}

ul {
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.external {
  margin: 3em 0;
}

.catalogue {
  letter-spacing: 0.1em;
  text-transform: none;
}

h3 {
  text-transform: uppercase;
  margin: 0;
}

.catalogue > ul {
  display: flex;
  flex-wrap: wrap;
}

.catalogue > ul > li {
  flex: 1;
  min-width: 40rem;
  max-width: 60rem;
  padding: 1rem;
  margin: 0;
}

.catalogue__album {
  box-sizing: border-box;
  font-size: 0.8em;
  background: rgba(255,255,255,.3);
  padding: 1em 0;
}

[data-spaint-00012] h3 {
  text-transform: lowercase;
}

.catalogue__album small {
  display: block;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.catalogue__album img {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
  border: 1rem solid #fff;
}

.catalogue__album h4 {
  margin: 0 0 0.5em 0;
}

.catalogue__release {
  font-size: 0.9em;
}

.catalogue__album ul {
  margin: 1em 0;
}

.catalogue li li {
  display: inline-block;
  margin: 0 0.5em;
}

.catalogue li li a {
  display: block;
  line-height: 1.2;
}

.footer {
  margin: 5em 0;
  font-size: 1em;
}

.catalogue__blurb {
  font-size: 0.9em;
  max-width: 80vw;
  margin: 0.5em auto;
  max-width: 30rem;
  letter-spacing: 0;
}
