body {
  background: #beffe6;
  align-items: center;
  justify-content: center;
  font-family: courier;
  color: #000;
  -webkit-font-smoothing: none;
  font-smoothing: none;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
  margin: 0;
}

a {
  border-bottom: 2px solid #ff72a0;
  color: #000;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 1em 0;
}

h1 {
  line-height: 1.2;
}

ul {
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.external {
  margin: 3em 0;
}

.catalogue {
  letter-spacing: 0.1em;
  text-transform: none;
}

h3 {
  text-transform: uppercase;
  margin: 0;
}

.catalogue > ul > li:before {
  content: '—';
  display: block;
  color: #000;
  margin: 2em 0;
  opacity: 0.2;
}

.catalogue li li {
  display: inline-block;
  margin: 0 0.5em;
}

.catalogue li li a {
  display: block;
  line-height: 1.2;
}

.footer {
  margin: 5em 0;
  font-size: 11px;
}

.catalogue__blurb {
  font-size: 0.9em;
  max-width: 80vw;
  margin: 0.5em auto;
  max-width: 30rem;
  letter-spacing: 0;
}
